@page
@model day02RazorBookList.Pages.BookList.IndexModel

<br/>

<div class="container row p-0 m-0">
    <div class="col-9">
        <h2 class="text-info">Book List</h2>
    </div>
    <div class="col-3">
        <!--the taghelper asp-page indicate redirect to the Pages/BookList/Create.cshtml page-->
        <a asp-page="Create" class="btn btn-info form-control text-white">Create New Book</a>
    </div>

    <div class="col-12 border p-3 mt-3">
        <form method="post">

            @if (Model.Books.Count() > 0)
            {
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>
                        <label asp-for="Books.FirstOrDefault().Name"></label>
                    </th>
                    <th>
                        <label asp-for="Books.FirstOrDefault().Author"></label>
                    </th>
                    <th>
                        <label asp-for="Books.FirstOrDefault().ISBN"></label>
                    </th>
                </tr>
                @foreach (var item in Model.Books)
                {

                    <tr>
                        <td>
                            <!--Because there's no availabe method in TagHelper to achieve below method, so use HtmlHelper instead-->
                            @Html.DisplayFor(m => item.Name);
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Author);
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.ISBN);
                        </td>
                        <td>
                            <!--Without the line asp-route-id, the delete/edit will get no record-->
                            <Button asp-page-handler="Delete" asp-route-id="@item.Id" onclick="return confirm('Please confirm to delete this record')" class="btn btn-danger btn-sm text-white">Delete</Button>
                            <a asp-page="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm text-white">Edit</a>
                        </td>
                    </tr>
                }
            </table>
            }
            else
            { <p>No Books Available.</p>}
        </form>
    </div>
</div>
